<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="thread_id" value="$${ctx:thread_id}"/>
                <KeyValuePair key="trace_id" value="$${ctx:trace_id}"/>
                <KeyValuePair key="pod_name" value="AuthService"/>
                <KeyValuePair key="sample_id" value="$${ctx:sample_id}"/>
                <KeyValuePair key="authToken" value="$${ctx:authToken}"/>
                <KeyValuePair key="message" value="$${event:getMessage}"/>
                <KeyValuePair key="level" value="$${event:level}"/>
                <KeyValuePair key="loggerName" value="$${event:loggerName}"/>
                <KeyValuePair key="pod_version" value="$${ctx:pod_version}"/>
            </JsonLayout>
        </Console>
        <File name="File" fileName="logs/app.log">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="thread_id" value="$${ctx:thread_id}"/>
                <KeyValuePair key="trace_id" value="$${ctx:trace_id}"/>
                <KeyValuePair key="pod_name" value="AuthService"/>
                <KeyValuePair key="sample_id" value="$${ctx:sample_id}"/>
                <KeyValuePair key="authToken" value="$${ctx:authToken}"/>
                <KeyValuePair key="message" value="$${event:getMessage}"/>
                <KeyValuePair key="level" value="$${event:level}"/>
                <KeyValuePair key="loggerName" value="$${event:loggerName}"/>
                <KeyValuePair key="pod_version" value="$${ctx:pod_version}"/>
            </JsonLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.melihinci.skeleton" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>